* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 800px;
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

.container {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}
.header {
  font-size: 2.5rem;
  color: #333;
}
.sub-head {
  font-size: 1.2rem;
  color: #555;
}

/* Input Field */

.text {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin: 10px 0;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.text:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

/* Button */
.button-add {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-add:hover {
  background-color: #45a049;
}

.button-add:active {
  transform: scale(0.98);
}

/* Table */
